
.benefits {
	text-align: center;

	& > .container {
		@include flex-container(row, center, center);
		flex-wrap: wrap;
	}

	&__list-item {
		margin-bottom: calc-rem(20px);

		&::before {
			@include pseudo(inline-block, initial, '');
			background-image: url('../img/icons/tick.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			height: calc-rem(15px);
			margin-right: calc-rem(10px);
			width: calc-rem(15px);
		}

		&__author {
			display: block;
			font-weight: 700;
			margin-top: calc-rem(5px);
		}

		&--quote {
			margin-bottom: calc-rem(30px);

			&::before {
				display: block;
				background-image: url('../img/icons/quote.svg');
				height: calc-rem(40px);
				margin: 0 auto calc-rem(10px) auto;
				width: calc-rem(40px);
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@include md {
		&__list {
			@include flex-container(row, center, flex-start);
			flex-wrap: wrap;
		}

		&__list-item {
			padding: 0 calc-rem(10px);
			width: 50%;

			&::before {
				height: calc-rem(20px);
				width: calc-rem(20px);
			}

			&--quote {
				&::before {
					width: calc-rem(40px);
					height: calc-rem(40px);
				}
			}
		}

		&__para {
			text-align: center;
		}
	}
}