
.benefits {
	&__heading {
		text-align: center;
	}

	&__list-item {
		margin-bottom: calc-rem(20px);

		&::before {
			@include pseudo(inline-block, initial, '');
			background-image: url('../img/icons/tick.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			height: calc-rem(15px);
			margin-right: calc-rem(10px);
			width: calc-rem(15px);
		}

		&__author {
			display: block;
			font-weight: 700;
			margin-top: calc-rem(5px);
		}

		&--quote {
			&::before {
				display: block;
				background-image: url('../img/icons/quote.svg');
				width: calc-rem(30px);
				height: calc-rem(30px);
			}
		}
	}

	@include md {
		&__list {
			@include flex-container(row, center, flex-start);
			flex-wrap: wrap;
		}

		&__list-item {
			width: 50%;

			&::before {
				height: calc-rem(20px);
				width: calc-rem(20px);
			}

			&--quote {
				&::before {
					width: calc-rem(40px);
					height: calc-rem(40px);
				}
			}
		}

		&__para {
			text-align: center;
		}
	}
}