
.btn {
	background: color('sea-green');
	border-radius: calc-rem(30px);
	color: color('white');
	display: inline-block;
	font-size: calc-rem(15px);
	font-weight: 500;
	letter-spacing: calc-rem(0.6px);
	padding: calc-rem(15px) calc-rem(20px);
	transition: transform 0.4s;
	white-space: nowrap;
	will-change: transform;

	&:hover,
	&:focus {
		transform: scale(1.04);
	}

	@include sm {
		font-size: calc-rem(16px);
		padding: calc-rem(15px) calc-rem(30px);
	}

	@include md {
		font-size: calc-rem(18px);
		padding: calc-rem(15px) calc-rem(40px);
	}
}