
.btn {
	@include flex-container(row, center, center);
	background: color('sea-green');
	border-radius: calc-rem(30px);
	color: color('white');
	font-size: calc-rem(15px);
	font-weight: 500;
	letter-spacing: calc-rem(0.6px);
	padding: calc-rem(15px) calc-rem(20px);
	transition: transform 0.4s;
	white-space: nowrap;
	will-change: transform;

	&::after {
		@include pseudo(inline-block, initial, '');
		background-image: url('../img/icons/video.svg');
		background-position: right center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 30px;
		margin-left: calc-rem(10px);
		width: 30px;
	}

	&:hover,
	&:focus {
		transform: scale(1.04);
	}

	@include sm {
		font-size: calc-rem(16px);
		padding: calc-rem(15px) calc-rem(30px);
	}

	@include md {
		font-size: calc-rem(18px);
		padding: calc-rem(15px) calc-rem(40px);
	}
}