
.intro {
	background: color('torea-bay');
	color: color('white');

	& > .container {
		@include flex-container(row, center, center);
		flex-wrap: wrap;
	}

	&__subheading {
		font-weight: 400;
		margin-bottom: calc-rem(20px);
	}

	&__video {
		margin-top: calc-rem(30px);
	}

	&__copy {
		@include flex-container(row, center, center);
		flex-wrap: wrap;
		margin-top: calc-rem(20px);
	}

	@include sm {
		&__logo {
			font-size: calc-rem(35px);
		}
	}

	@include md {
		&__copy {
			margin: 0;
			padding-left: calc-rem(40px);
			justify-content: flex-start;
			text-align: left;
			width: 50%;
		}

		&__logo {
			font-size: calc-rem(40px);
		}

		&__video {
			width: 50%;
		}
	}
}