
.intro {
	background: color('torea-bay');
	color: color('white');

	& > .container {
		@include flex-container(row, space-between, center);
		flex-wrap: wrap;
	}

	&__logo {
		font-size: calc-rem(30px);
		font-weight: 700;
		margin-bottom: calc-rem(10px);
	}

	&__video {
		margin-top: calc-rem(30px);
		width: 100%;
	}

	@include sm {
		&__logo {
			font-size: calc-rem(35px);
		}
	}

	@include md {
		&__copy {
			width: 50%;
		}

		&__logo {
			font-size: calc-rem(40px);
		}

		&__video {
			margin: 0;
			width: 50%;
		}
	}
}