
.presenter {
	background: color('torea-bay');
	color: color('white');

	&__img {
		margin-bottom: calc-rem(20px);
		max-width: 80%;
	}

	@include sm {
		&__img {
			max-width: calc-rem(700px);
		}
	}
}