
::selection {
	color: color('white');
}

body {
	position: relative;
}

a:focus,
button:focus {
	outline: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	pointer-events: none;
}

button {
	border: 0;
	cursor: pointer;
}
