/*
* Rem units root value
*/

$rem-root-px: 16px;


/*
* Breakpoints map/array
* Small, medium, large & extra large
*/

$breakpoints: (
	'sm': 576px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px,
);


/*
* Container gutters map/array
* Extra small, small, medium, large & extra large
*/

$container-gutters: (
	'xs': 15px,
	'sm': 15px,
	'md': 30px,
	'lg': 30px,
	'xl': 30px,
);


/*
* Fonts map/array
*/

$fonts: (
	'poppins': 'Poppins, sans-serif',
);


/*
* Z-Indexes map/array
* Keep track of z-indexes and prevent 1234, 9999, etc
*/

$z-indexes: (
	'cookie-consent': 2000,
	'footer': 1000,
	'js-notice': 2000,
);


/*
* Colors map/array
*/

$colors: (
	'amber': #FFC00D,
	'black': #000,
	'crimson': #ED143D,
	'dove-grey': #6d6565,
	'sea-green': #27833D,
	'torea-bay': #13328C,
	'white': #FFF,
);
